html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.save-note {
    display: none;
}
.icons i {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}